<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuantu.data.personnel.PersonnelMapper">

    <select id="selectHotelinfo" parameterType="string" resultMap="Hotel">
        SELECT h.id,h.hotelName,h.address,h.businessDistrict,h.introduction,h.facilities,h.star FROM `hotel` h
         LEFT JOIN `user` u on h.id=u.hotel_id
         <where>
             u.hotel_id=#{userId}
         </where>
    </select>

    <update id="updateHotelInfo" parameterType="com.yuantu.po.Hotel">
        update hotel
        <set>
            <if test="hotel.address !=null and hotel.address !=''">address=#{hotel.address},</if>
            <if test="hotel.businessDistrict !=null and hotel.businessDistrict !=''">businessDistrict=#{hotel.businessDistrict},</if>
            <if test="hotel.introduction !=null and hotel.introduction !=''">introduction=#{hotel.introduction},</if>
            <if test="hotel.facilities !=null and hotel.facilities !=''">facilities=#{hotel.facilities},</if>
            <if test="hotel.star !=null and hotel.star !=''">star=#{hotel.star}</if>
        </set>
        <where>
            id =#{hotelId}
        </where>
    </update>


    <resultMap id="Hotel" type="com.yuantu.po.Hotel">
        <result column="id" property="id"></result>
        <result column="hotelname" property="hotelName"></result>
        <result column="address" property="address"></result>
        <result column="businessdistrict" property="businessDistrict"></result>
        <result column="introduction" property="introduction"></result>
        <result column="facilities" property="facilities"></result>
        <result column="Star" property="star"></result>
        <result column="score" property="score"></result>
    </resultMap>
</mapper>