<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuantu.data.hotel.HotelMapper">


    <select id="selectAllHotel" resultMap="Hotel">
        select * from hotel
    </select>


    <!--查询-->
    <select id="selectHotelInfo" resultMap="Hotel">
        select
        hotel.id,hotel.hotelname,hotel.address,hotel.businessdistrict,hotel.Introduction,hotel.facilities,hotel.Star,hotel.score,avg(room.price)
        as averagePrice
        from hotel
        left join
        room on hotel.id=room.hotel_id GROUP BY hotel.id
        <trim prefix="having" prefixOverrides="and">
            <if test="hotelId !=null">
                and hotel.id =#{hotelId}
            </if>
            <if test="address !=null and businessdistrict !=null">
                and address=#{address} and businessdistrict=#{businessdistrict}
            </if>
        </trim>
    </select>

    <!--模糊查询-->

   <select id="selectLikeQuery" resultMap="Hotel">
        select id,address,businessdistrict, Introduction, facilities, Star, hotelname, score from hotel
        where  CONCAT(Star,score,hotelname,businessdistrict)

        <if test="condition !=null">
            like CONCAT('%',#{condition},'%')
        </if>
    </select>

    <!--通过酒店价格从低到高，星级和评分排序-->
    <select id="selectHotelSort" resultType="Hotel" parameterType="string">
        select
        hotel.hotelname,hotel.address,hotel.businessdistrict,hotel.Introduction,hotel.facilities,hotel.Star,hotel.score,avg(room.price)
        as averagePrice
        from hotel
        left join
        room on hotel.id=room.hotel_id GROUP BY hotel.id
        <trim prefix="ORDER BY" suffix="ASC">

            <if test="condition !=null and condition =='星级'">
                Star
            </if>

            <if test="condition !=null and condition =='评分'">
                score
            </if>

            <if test="condition !=null and condition =='价格'">
                averagePrice
            </if>
        </trim>
    </select>

    <!--添加酒店-->
    <insert id="insertHotelInfo" parameterType="com.yuantu.po.Hotel" useGeneratedKeys="true" keyProperty="id">
        insert into
        hotel(hotel.hotelname,hotel.address,hotel.businessdistrict,hotel.Introduction,hotel.facilities,hotel.Star)
        VALUES
        (#{hotel.hotelName},#{hotel.address},#{hotel.businessDistrict},#{hotel.introduction},#{hotel.facilities},#{hotel.star})
    </insert>


    <select id="selectHotelinfo" parameterType="string" resultMap="Hotel">
        SELECT h.id,h.hotelName,h.address,h.businessDistrict,h.introduction,h.facilities,h.star FROM `hotel` h
        LEFT JOIN `user` u on h.id=u.hotel_id
        <where>
            u.hotel_id=#{userId}
        </where>
    </select>

    <update id="updateHotelInfo" parameterType="com.yuantu.po.Hotel">
        update hotel
        <set>
            <if test="hotel.address !=null and hotel.address !=''">address=#{hotel.address},</if>
            <if test="hotel.businessDistrict !=null and hotel.businessDistrict !=''">
                businessDistrict=#{hotel.businessDistrict},
            </if>
            <if test="hotel.introduction !=null and hotel.introduction !=''">introduction=#{hotel.introduction},</if>
            <if test="hotel.facilities !=null and hotel.facilities !=''">facilities=#{hotel.facilities},</if>
            <if test="hotel.star !=null and hotel.star !=''">star=#{hotel.star}</if>
        </set>
        <where>
            id =#{hotelId}
        </where>
    </update>


    <resultMap id="Hotel" type="com.yuantu.po.Hotel">
        <result column="id" property="id"></result>
        <result column="hotelname" property="hotelName"></result>
        <result column="address" property="address"></result>
        <result column="businessdistrict" property="businessDistrict"></result>
        <result column="introduction" property="introduction"></result>
        <result column="facilities" property="facilities"></result>
        <result column="Star" property="star"></result>
        <result column="score" property="score"></result>
    </resultMap>

    <!--     酒店详情-->
    <select id="queryHotelById" resultMap="Hotel">
        SELECT * FROM hotel WHERE id = #{id}
    </select>


    <!--    搜索酒店-->
    <resultMap id="hotelMap" type="com.yuantu.vo.HotelInfo">
        <id column="id" property="id"/>
        <result property="hotelName" column="hotelname"/>
        <result property="address" column="address"/>
        <result property="businessDistrict" column="businessdistrict"/>
        <result property="introduction" column="introduction"/>
        <result property="facilities" column="facilities"/>
        <result property="star" column="star"/>
        <result property="score" column="score"/>
        <result property="price" column="price"/>
        <collection property="roomInfo"
                    ofType="com.yuantu.vo.RoomInfo"
                    javaType="java.util.List"
                    select="queryRoomInfoList"
                    column="{id=id,startTime=startTime,endTime=endTime,roomType=roomType,roomNumber=roomNumber}">
            <id column="room_id" property="room_id"/>
            <result property="hotel_id" column="hotel_id"/>
            <result property="roomType" column="roomtype"/>
            <result property="price" column="price"/>
            <result property="rooms" column="rooms"/>
            <result property="roomNumber" column="roomNumber"/>
            <result property="numbers" column="numbers"/>
            <result property="state" column="state"/>
        </collection>
    </resultMap>
    <select id="queryRoomInfoList" resultType="map">
        SELECT r.room_id,r.hotel_id,r.roomtype,r.price,r.rooms,
        SUM(o.rooms) AS roomNumber,
        IF(SUM(o.rooms) > 0,r.rooms-SUM(o.rooms),r.rooms) AS numbers,
        IF(IF(SUM(o.rooms) > 0,r.rooms-SUM(o.rooms),r.rooms)>0,'有空房','满房') AS state
        FROM room AS r
        LEFT JOIN `order` AS o ON r.hotel_id = o.hotel_id AND r.roomtype = o.roomType
        <where>
            <if test="startTime !=null and startTime !=''">
                AND o.startdate &gt;= #{startTime}
            </if>
            <if test="endTime !=null and endTime !=''">
                AND o.enddate &lt;= #{endTime}
            </if>
            AND o.`status` = '未执行'
        </where>
        GROUP BY r.room_id
        <trim prefix="having" prefixOverrides="and">
            r.hotel_id = #{id}
            <if test="roomType !=null and roomType != ''">
                and r.roomtype = #{roomType}
            </if>
            <if test="roomNumber !=null and roomNumber != ''">
                and r.rooms &gt;= #{roomNumber}
            </if>
        </trim>
        UNION
        SELECT r.room_id,r.hotel_id,r.roomtype,r.price,r.rooms,
        0 AS roomNumber,
        r.rooms AS numbers,
        '有空房' AS state
        FROM room AS r
        LEFT JOIN `order` AS o ON r.hotel_id = o.hotel_id AND r.roomtype = o.roomType
        <!--        <where>-->
        <!--            <if test="startTime !=null and startTime !='' or endTime !=null and endTime !=''">-->
        <!--                AND o.startdate &lt;= #{startTime} OR o.enddate &gt;= #{endTime}-->
        <!--            </if>-->
        <!--            AND o.`status` = '未执行'-->
        <!--        </where>-->
        GROUP BY r.room_id
        <trim prefix="having" prefixOverrides="and">
            r.hotel_id = #{id}
            <if test="roomType !=null and roomType !=''">
                and r.roomtype = #{roomType}
            </if>
            <if test="roomNumber !=null and roomNumber !=''">
                and r.rooms &gt;= #{roomNumber}
            </if>
        </trim>
        AND r.roomtype != ALL(
        SELECT DISTINCT r.roomtype
        FROM room AS r
        LEFT JOIN `order` AS o ON r.hotel_id = o.hotel_id AND r.roomtype = o.roomType
        <where>
            <if test="startTime !=null and startTime !=''">
                AND o.startdate &gt;= #{startTime}
            </if>
            <if test="endTime !=null and endTime !=''">
                AND o.enddate &lt;= #{endTime}
            </if>
            AND o.`status` = '未执行'
            <if test="id !=null and id !=''">
                AND r.hotel_id = #{id}
            </if>
        </where>
        GROUP BY r.room_id
        )
    </select>
    <select id="selectHotel" parameterType="com.yuantu.vo.HotelQueryVo" resultMap="hotelMap">
        SELECT h.id,h.hotelname,h.address,h.businessdistrict,h.introduction,h.facilities,h.star,h.score,h.price,
        case when ('${startTime}' IS NULL) then NULL else '${startTime}' end as startTime,
        case when ('${endTime}' IS NULL) then NULL else '${endTime}' end as endTime,
        case when ('${roomType}' IS NULL) then NULL else '${roomType}' end as roomType,
        case when ('${roomNumber}' IS NULL) then NULL else '${roomNumber}' end as roomNumber
        FROM hotel AS h
        <where>
            <if test="address !=null and address !=''">
                and h.address=#{address}
            </if>
            <if test="businessDistrict !=null and businessDistrict !=''">
                and h.businessdistrict LIKE CONCAT('%',#{businessDistrict},'%')
            </if>
            <if test="hotelName !=null and hotelName !=''">
                and h.hotelname LIKE CONCAT('%',#{hotelName},'%')
            </if>
            <if test="star !=null and star !=''">
                and h.Star=#{star}
            </if>
            <if test="score1 !=null and score1 !='' and score2 !=null and score2 !=''">
                and h.score BETWEEN #{score1} and #{score2}
            </if>
            <if test="price1 != null and price2 != null">
                and h.price BETWEEN #{price1} and #{price2}
            </if>
        </where>
        <trim prefix="ORDER BY" suffixOverrides=",">
            <if test="starSort !=null and starSort == 1">
                h.star DESC,
            </if>
            <if test="starSort !=null and starSort == 2">
                h.star ASC,
            </if>
            <if test="scoreSort !=null and scoreSort == 1">
                h.score DESC,
            </if>
            <if test="scoreSort !=null and scoreSort == 2">
                h.score ASC,
            </if>
            <if test="priceSort !=null and priceSort == 1">
                h.price DESC,
            </if>
            <if test="priceSort !=null and priceSort == 2">
                h.price ASC,
            </if>
        </trim>
    </select>


    <!--根据酒店Id查询房间信息-->
    <select id="queryRoomInfoByHotelId" resultMap="RoomInfoMap">
        SELECT r.room_id,r.hotel_id,r.roomtype,r.price,r.rooms,
        SUM(o.rooms) AS roomNumber,
        IF(SUM(o.rooms) > 0,r.rooms-SUM(o.rooms),r.rooms) AS numbers,
        IF(IF(SUM(o.rooms) > 0,r.rooms-SUM(o.rooms),r.rooms)>0,'有空房','满房') AS state
        FROM room AS r
        LEFT JOIN `order` AS o ON r.hotel_id = o.hotel_id AND r.roomtype = o.roomType
        <where>
            <if test="startTime !=null and startTime !=''">
                AND o.startdate &gt;= #{startTime}
            </if>
            <if test="endTime !=null and endTime !=''">
                AND o.enddate &lt;= #{endTime}
            </if>
            AND o.`status` = '未执行'
        </where>
        GROUP BY r.room_id
        <trim prefix="having" prefixOverrides="and">
            r.hotel_id = #{hotelId}
        </trim>
        UNION
        SELECT r.room_id,r.hotel_id,r.roomtype,r.price,r.rooms,
        0 AS roomNumber,
        r.rooms AS numbers,
        '有空房' AS state
        FROM room AS r
        LEFT JOIN `order` AS o ON r.hotel_id = o.hotel_id AND r.roomtype = o.roomType
        <!--        <where>-->
        <!--            <if test="startTime !=null and startTime !='' or endTime !=null and endTime !=''">-->
        <!--                AND o.startdate &lt;= #{startTime} OR o.enddate &gt;= #{endTime}-->
        <!--            </if>-->
        <!--            AND o.`status` = '未执行'-->
        <!--        </where>-->
        GROUP BY r.room_id
        <trim prefix="having" prefixOverrides="and">
            r.hotel_id = #{hotelId}
        </trim>
        AND r.roomtype != ALL(
        SELECT DISTINCT r.roomtype
        FROM room AS r
        LEFT JOIN `order` AS o ON r.hotel_id = o.hotel_id AND r.roomtype = o.roomType
        <where>
            <if test="startTime !=null and startTime !=''">
                AND o.startdate &gt;= #{startTime}
            </if>
            <if test="endTime !=null and endTime !=''">
                AND o.enddate &lt;= #{endTime}
            </if>
            AND o.`status` = '未执行'
            <if test="hotelId !=null and hotelId !=''">
                AND r.hotel_id = #{hotelId}
            </if>
        </where>
        GROUP BY r.room_id
        )
    </select>
    <resultMap id="RoomInfoMap" type="com.yuantu.vo.RoomInfo">
        <id column="room_id" property="room_id"/>
        <result property="hotel_id" column="hotel_id"/>
        <result property="roomType" column="roomtype"/>
        <result property="price" column="price"/>
        <result property="rooms" column="rooms"/>
        <result property="roomNumber" column="roomNumber"/>
        <result property="numbers" column="numbers"/>
        <result property="state" column="state"/>
    </resultMap>


</mapper>