<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuantu.data.hotel.HotelMapper">
    <!--查询-->
    <select id="selectHotelInfo" resultMap="Hotel">
        select  hotel.id,hotel.hotelname,hotel.address,hotel.businessdistrict,hotel.Introduction,hotel.facilities,hotel.Star,hotel.score,avg(room.price) as averagePrice
        from hotel
        left join
        room on hotel.id=room.hotel_id GROUP BY hotel.id
        <trim prefix="having" prefixOverrides="and">
            <if test="hotelId !=null">
                and hotel.id =#{hotelId}
            </if>
            <if test="address !=null and businessdistrict !=null">
                and address=#{address} and businessdistrict=#{businessdistrict}
            </if>
        </trim>
    </select>

    <!--模糊查询-->
   <select id="selectLikeQuery" resultMap="Hotel">
        select address,businessdistrict, Introduction, facilities, Star, hotelname, score from hotel
        where  CONCAT(Star,score,hotelname,businessdistrict)
        <if test="condition !=null">
            like CONCAT('%',#{condition},'%')
        </if>
    </select>

    <!--通过酒店价格从低到高，星级和评分排序-->
    <select id="selectHotelSort" resultType="Hotel" parameterType="string">
    select hotel.hotelname,hotel.address,hotel.businessdistrict,hotel.Introduction,hotel.facilities,hotel.Star,hotel.score,avg(room.price) as averagePrice
    from hotel
    left join
    room on hotel.id=room.hotel_id GROUP BY hotel.id
    <trim prefix="ORDER BY" suffix="ASC">

       <if test="condition !=null and condition =='星级'">
            Star
        </if>

        <if test="condition !=null and condition =='评分'">
            score
        </if>

        <if test="condition !=null and condition =='价格'">
            averagePrice
        </if>
    </trim>
    </select>

    <!--添加酒店-->
    <insert id="insertHotelInfo" parameterType="com.yuantu.po.Hotel" useGeneratedKeys="true" keyProperty="id">
        insert into
        hotel(hotel.hotelname,hotel.address,hotel.businessdistrict,hotel.Introduction,hotel.facilities,hotel.Star)
         VALUES (#{hotel.hotelName},#{hotel.address},#{hotel.businessDistrict},#{hotel.introduction},#{hotel.facilities},#{hotel.star})
    </insert>


    <!--查询时间段里的房间状态,可以通过酒店名称、房间（类型、原始价格区间、有空房期间（房间数量、入住日期，退房日期））、星级、评分区间等条件进行搜索-->

    <select id="selectHotel" resultType="com.yuantu.vo.HotelqueryInfoVo" parameterType="com.yuantu.vo.HotelQueryVo">
        select h.*,r.roomtype,r.rooms,r.price,SUM(od.rooms) as roomNumber,IF((r.rooms-SUM(od.rooms))&gt;0,(r.rooms-SUM(od.rooms)),0)as numbers,IF((r.rooms-SUM(od.rooms))&gt;0,'有空房','无空房') as state
        from `room` r,hotel h,
        (select od.hotelname,od.roomtype,od.hotel_id,od.`status`,od.room_id,od.rooms,od.startdate,od.enddate
        from  `order` od
        where od.`status`='未执行') od

      <trim prefix="where" prefixOverrides="and">
          od.room_id=r.id and h.id=od.hotel_id
          <if test="hotelVo.address !=null and hotelVo.address !=''">
              and h.address=#{hotelVo.address}
          </if>
          <if test="hotelVo.roomType !=null and hotelVo.roomType !=''">
              and r.roomtype=#{hotelVo.roomType}
          </if>
          <if test="hotelVo.businessDistrict !=null and hotelVo.businessDistrict !=''">
              and h.businessdistrict=#{hotelVo.businessDistrict}
          </if>
          <if test="hotelVo.hotelName !=null and hotelVo.hotelName !=''">
              and h.hotelname=#{hotelVo.hotelName}
          </if>
          <if test="hotelVo.star !=null and hotelVo.star !=''">
              and h.Star=#{hotelVo.star}
          </if>
          <if test="hotelVo.score !=null and hotelVo.score !=''">
              and h.score BETWEEN #{hotelVo.score[0]} and #{hotelVo.score[1]}
          </if>
          <if test="hotelVo.price !=null and hotelVo.price !=''">
              and r.price BETWEEN #{hotelVo.price[0]} and #{hotelVo.price[1]}
          </if>
          <if test="hotelVo.startTime !=null and hotelVo.startTime !=''">
              AND od.startdate &gt;= #{hotelVo.startTime}
          </if>
          <if test="hotelVo.endTime !=null and hotelVo.endTime !=''">
              AND od.enddate &lt;= #{hotelVo.endTime}
          </if>
      </trim>
        GROUP BY r.hotel_id,od.hotelname,od.roomtype,od.rooms,h.id,r.rooms,r.price,r.roomtype,od.room_id

    </select>


    <!--查询不在订单中未被预定的房间-->
    <select id="selectNotOrders" resultType="com.yuantu.vo.HotelqueryInfoVo" parameterType="com.yuantu.vo.HotelQueryVo">
        select h.*,r.*,r.rooms as numbers,SUM(0) as roomNumber, IF(r.rooms>0,'有空房','无空房') as state
        from `hotel`h,(select r.hotel_id,r.roomtype,r.rooms,r.price
        from `room`r where not exists (select * from `order` where `order`.hotel_id=r.hotel_id and `order`.roomtype=r.roomtype))r

        <trim prefix="where" prefixOverrides="and">
            r.hotel_id=h.id
            <if test="hotelVo.address !=null and hotelVo.address !=''">
                and h.address=#{hotelVo.address}
            </if>
            <if test="hotelVo.roomType !=null and hotelVo.roomType !=''">
                and r.roomtype=#{hotelVo.roomType}
            </if>
            <if test="hotelVo.businessDistrict !=null and hotelVo.businessDistrict !=''">
                and h.businessdistrict=#{hotelVo.businessDistrict}
            </if>
            <if test="hotelVo.hotelName !=null and hotelVo.hotelName !=''">
                and h.hotelname=#{hotelVo.hotelName}
            </if>
            <if test="hotelVo.star !=null and hotelVo.star !=''">
                and h.Star=#{hotelVo.star}
            </if>
            <if test="hotelVo.score !=null and hotelVo.score !=''">
                and h.score BETWEEN #{hotelVo.score[0]} and #{hotelVo.score[1]}
            </if>
            <if test="hotelVo.price !=null and hotelVo.price !=''">
                and r.price BETWEEN #{hotelVo.price[0]} and #{hotelVo.price[1]}
            </if>
        </trim>


        GROUP BY h.id,r.roomtype,r.rooms,r.price
    </select>





    <select id="selectHotelinfo" parameterType="string" resultMap="Hotel">
        SELECT h.id,h.hotelName,h.address,h.businessDistrict,h.introduction,h.facilities,h.star FROM `hotel` h
        LEFT JOIN `user` u on h.id=u.hotel_id
        <where>
            u.hotel_id=#{userId}
        </where>
    </select>

    <update id="updateHotelInfo" parameterType="com.yuantu.po.Hotel">
        update hotel
        <set>
            <if test="hotel.address !=null and hotel.address !=''">address=#{hotel.address},</if>
            <if test="hotel.businessDistrict !=null and hotel.businessDistrict !=''">businessDistrict=#{hotel.businessDistrict},</if>
            <if test="hotel.introduction !=null and hotel.introduction !=''">introduction=#{hotel.introduction},</if>
            <if test="hotel.facilities !=null and hotel.facilities !=''">facilities=#{hotel.facilities},</if>
            <if test="hotel.star !=null and hotel.star !=''">star=#{hotel.star}</if>
        </set>
        <where>
            id =#{hotelId}
        </where>
    </update>


    <resultMap id="Hotel" type="com.yuantu.po.Hotel">
        <result column="id" property="id"></result>
        <result column="hotelname" property="hotelName"></result>
        <result column="address" property="address"></result>
        <result column="businessdistrict" property="businessDistrict"></result>
        <result column="introduction" property="introduction"></result>
        <result column="facilities" property="facilities"></result>
        <result column="Star" property="star"></result>
        <result column="score" property="score"></result>
    </resultMap>

    <select id="queryHotelById" resultMap="Hotel">
        SELECT * FROM hotel WHERE id = #{id}
    </select>

</mapper>